body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.table {
    margin: 0 auto;
    width: 50%;
}

.table__container {
    width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

.table__container th {
    width: 0;
    border: 1px solid black;
}

.button__sort {
    margin-left: 5px;
    width: 15px;
    height: 15px;
    background: url('img/sort.svg') no-repeat;
    vertical-align: middle;
    border: none;
    cursor: pointer;
}

.button__display {
    margin-left: 5px;
    width: 15px;
    height: 15px;
    background: url('img/display-icon.svg') no-repeat;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    transform: rotate(180deg);
}

.button__display_rotate {
    transform: rotate(0deg);
}

.table__container td {
    padding: 0 15px;
	border: 1px solid black;
}

.table__about {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button__pagination {
    width: 100px;
    height: 40px;
    background: url('img/arrow.svg') center center no-repeat;
    background-size: 50% 50%;
    cursor: pointer;
}

.button__prev {
    margin-right: 10px;
    transform: rotate(180deg);
}

.edit-form {
    display: none;
    position: absolute;
    top: 200px;
    right: 10px;
    width: 350px;
    height: 250px;
    border: 1px solid black;
}

.edit-form__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-form__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: url('img/close.svg') no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}

.edit-form__text {
    margin-top: 40px;
    width: 320px;
    height: 150px;
    resize: none;
}

.edit-form__button {
    margin-top: 10px;
    width: 150px;
    height: 30px;
    background: transparent;
    outline: none;
    cursor: pointer;
} 

.color-eye {
    display: inline-block;
    width: 10px;
    height: 10px;
}